@import "tailwindcss";

/* FONTS */

@layer {
  @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
}


:root {
  --color-background: #ffffff;
}

body {
  background: var(--color-background);
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 60px;
}