name: dev

on:
  push:
    branches:
      - dev
  workflow_run:
    workflows: ["check"]
    types:
      - completed

permissions:
  contents: write

jobs:
  commitChangesToMaster:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
        with:
          fetch-depth: 0
          persist-credentials: true

      - name: Push dev changes to master
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"

          git checkout master || git checkout -b master
          git merge origin/dev -m "[Action] Sync dev -> master" || true

          git push https://x-access-token:${{ secrets.PERSONAL_TOKEN  }}@github.com/${{ github.repository }} master
