name: dev

on:
  push:
    branches:
      - dev
  workflow_run:
    workflows: ["check"]
    types:
      - completed

permissions:
  contents: write

jobs:
  commitChangesToMaster:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
        with:
          fetch-depth: 0
          persist-credentials: true

      - name: Push dev changes to master
        run: |
          TARGET_BRANCH="master"

          git config user.name "GitHub Actions"
          git config user.email "actions@github.com"

          git fetch origin $TARGET_BRANCH

          git checkout $TARGET_BRANCH || git checkout -b $TARGET_BRANCH
          git merge --ff-only origin/dev || git merge origin/dev --no-edit

          git push https://x-access-token:${{ secrets.GITHUB_TOKEN }}@github.com/${{ github.repository }} $TARGET_BRANCH
